div.frame {
	height: 400px;
	width: 600px;
	border: 1px solid #fefefe;
	margin: 40px auto;
	background-image: url('../img/default.jpg');
	background-size: contain;
	position: relative;
}

section.present div.frame img.weatherImage {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear; 
	position: relative;
	left: 0;
	margin-left: 0;
	margin-right: 0;
	top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

section.present div.frame img.girlImage {
	height: 100px;
	max-height: 100%;
	max-width: 100%;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear; 
	position: absolute;
	left: 100%;
	margin-left: -350px;
	top: 100%;
	margin-top: -130px;
}

section.present div.frame img.millImage {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear; 
	position: absolute;
	left: 0;
	margin-left: 0;
	top: 0;
	margin-top: 0;
}