section.present img.logo {
	background: none;
	border: none;
	box-shadow: none;
}

section.present ul li {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, p, a, li, th, td {
	color: #000 !important;
}

th, td {
	font-size: 27px !important;
}

div.frame {
	height: 500px;
	width: 750px;
	border: 1px solid #fefefe;
	margin: 40px auto;
	background-image: url('../img/default.jpg');
	background-size: contain;
	position: relative;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-ms-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear; 
}

section.present div.frame img.weatherImage {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-ms-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear; 
	position: relative;
	left: 0;
	margin-left: 0;
	margin-right: 0;
	top: 0;
	margin-top: 0;
	margin-bottom: 0;
}

section.present div.frame img.girlImage {
	height: 100px;
	max-height: 100%;
	max-width: 100%;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-ms-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear; 
	position: absolute;
	left: 100%;
	margin-left: -300px;
	top: 100%;
	margin-top: -115px;
}

section.present div.frame img.millImage {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-ms-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear; 
	position: absolute;
	left: 0;
	margin-left: 0;
	top: 0;
	margin-top: 0;
}